.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video{
  text-align: left;
  margin-top: 30px;
}
.demention{
 margin-top: 20px;
}
.size{
  width: 22rem;
  margin-left: 50px;
  margin-bottom: 20px;
}
.animation{
  text-align: left;
  margin-top: 30px;
}
.box{
  margin-top: 30px;
}
.color{
  color: palevioletred;
}
.page{
   color: coral;
}